@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(back2.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
}

main {
  width: 90vw;
  height: 90vh;
  background-color: rgb(7, 0, 0);
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main nav {
  display: flex;
  justify-content: flex-end;
  height: 5%;
}
main nav li {
  list-style-type: none;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  color: #FFF;
}
main nav li a {
  padding: 0 1.5em;
  text-decoration: none;
  color: rgb(250, 245, 245);
  height: 50%;
}
main nav .sign-link {
  background-color: rgb(63, 6, 65);
  position: relative;
  border-radius: 0 20px 0 0;
}
main nav .sign-link a {
  vertical-align: middle;
  color: #fff;
}
main nav .sign-link .sign-register {
  position: absolute;
  display: none;
  width: 30em;
  height: 8em;
  top: 47px;
  left: -380px;
  background-color: rgba(78, 6, 78, 0.336);
  padding: 25px 45px 25px 45px;
  border-radius: 20px;
}
main nav .sign-link .sign-register a {
  color: rgb(253, 251, 251);
}
main nav .sign-link .sign-register .sign-in {
  height: 100%;
  font-family: monospace;
  color: #000;
}
main nav .sign-link .sign-register .register {
  height: 100%;
  font-family: monospace;
  color: #000;
}
main nav .sign-link :hover + .sign-register {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-content {
  height: 95%;
}
main .main-content .hero {
  height: 80%;
  display: flex;
  align-items: flex-start;
  background-image: url(clothes.jpg);
  background-repeat: space;
  background-size: cover;
}
main .main-content .hero .hero-content {
  padding-left: 5em;
  padding-top: 100px;
}
main .main-content .hero .hero-content h3 {
  font-size: 2rem;
  padding: 0 0 0.4em 0;
}
main .main-content .hero .hero-content p {
  font-family: 'Dancing Script', cursive;
  font-size: 1.7rem;
  padding: 0 0 0.4em 0;
}
main .main-content .hero .hero-content .search-box {
  display: flex;
}
main .main-content .hero .hero-content .search-box input {
  border: none;
  height: 2em;
  outline: none;
  border-radius: 5px 0 0 5px;
  padding: 20px 35px 20px 35px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
main .main-content .hero .hero-content .search-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 0 5px 5px 0;
  padding: 0 1.5em;
  font-size: 0.7rem;
}
main .main-content .tld-cards {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 20px;
}
main .main-content .tld-cards .card-outer {
  background-color: rgba(240, 235, 239, 0.329);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.35s;
  border-radius: 7px;
}
main .main-content .tld-cards .card-outer .card1 {
  padding: 70px 40px 40px 5px;
  position: relative;
  height: 100%;
  z-index: 1;
  background-image: url(kisses.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main .main-content .tld-cards .card-outer .card2 {
  padding: 70px 40px 40px 5px;
  position: relative;
  height: 100%;
  z-index: 1;
  background-image: url(skirt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main .main-content .tld-cards .card-outer .card3 {
  padding: 70px 40px 40px 5px;
  position: relative;
  height: 100%;
  z-index: 1;
  background-image: url(short.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main .main-content .tld-cards .card-outer .card4 {
  padding: 70px 40px 40px 5px;
  position: relative;
  height: 100%;
  z-index: 1;
  background-image: url(pant.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main .main-content .tld-cards .card-outer .card5 {
  padding: 70px 40px 40px 5px;
  position: relative;
  height: 100%;
  z-index: 1;
  background-image: url(dress.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main .main-content .tld-cards .card-outer .card6 {
  padding: 70px 40px 40px 5px;
  position: relative;
  height: 100%;
  z-index: 1;
  background-image: url(jumpsuit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main .main-content .tld-cards .card-outer .card1 .featured {
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #F3F0F7;
  padding: 2px;
  font-size: 0.75rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

main .main-content .tld-cards .card-outer .card3 .featured {
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #F3F0F7;
  padding: 2px;
  font-size: 0.75rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

main .main-content .tld-cards .card-outer .card6 .featured {
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #F3F0F7;
  padding: 2px;
  font-size: 0.75rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

main .main-content .tld-cards .card-outer .card1 .featured p {
  padding: 3px 15px 3px 15px;
}

main .main-content .tld-cards .card-outer:hover {
  transform: scale(1.1);
  transition: all 0.35s;
  box-shadow: 5px 5px 10px rgba(108, 11, 121, 0.2);
  z-index: 25;
}